/* Shape colors cannot be global root variables in matter.js script (for now) */

:root {
	--body-color: #18181d;
	--purple: #833ab4;
	--red: #fd1d1d;
	--yellow: #ffcd01;
	--blue: #0496ff;
	--orange: #ff6a03;
	--white: #fff;
	--pink: #ff45ff;
	--github-fill: var(--white);
	--github-color: var(--body-color);
	--github-focus: var(--orange);
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	margin: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--body-color);
	cursor: pointer;
}

/* canvas {
  width: 100%;
  height: 100vh;
} */

.github-corner:focus svg path {
	fill: var(--github-focus);
}

.github-corner:focus .octo-arm,
.github-corner:focus .octo-body {
	fill: var(--github-color);
}

.github-corner:focus .octo-arm,
.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}
